configuration {
	modi: "window,run,drun,combi";
	combi-modi: "window,run,drun,ssh";
        display-drun: "[Apps]";
	display-window: "Windows";
	show-icons: true;
	icon-theme: "Papirus-Dark";
        kb-row-up: "Up,Alt+k";
        kb-row-down: "Down,Alt+j";

}

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
@theme "/home/schlau/.config/rofi/theme.rasi"

