
* {
    bg0:    rgba(31,35,53,0.9);
    bg1:    rgba(31,35,53,0.1);
    bg2:    #24283b;
    bg3:    #414868;
    bg4:    #ff9e64;
    fg0:    #c0caf5;
    fg1:    #FFFFFF;
    fg2:    #969696;
    fg3:    #3D3D3D;
}

@import "rounded-common.rasi"
